.Info {
    border: 1px solid chocolate;
    position: relative;
}

.Info .count {
    position: relative;
    top: 55px;
}

.Info .delete {
    top: -15px;
    position: relative;
}

.delete img {
    width: 20px;
    height: 20px;
}

