.Header {
    grid-area: h;
    background-color: black;
    border: 1px solid brown;
}

.Header img {
    width: 120px;
    height: 80px;
}
.loginBlock {
    float: right;
    color: white;
}
.loginBlock a {
    text-decoration: none;
    color: white;
}