.Posts{
    grid-area: P;
    border:1px solid darkblue;
}

.NewPost textarea{
    width: 200px;
    font-weight: 900;
}.NewPost textarea:focus{
    width: 240px;
    font-weight: 100;
}
.PostsList{

}