.Dialogs {
    display: grid;

    grid-template-columns: 2fr 10fr;
}
.Messages textarea{
    width: 815px;
}
.DialogsItems{
    border-right: 1px solid saddlebrown;
}
.DialogItem{
    text-align: center;
}
.DialogItem a {
    text-decoration: none;
    color:blue;
}
.DialogItem a.active{
    color:green;
}
.DialogItem img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.Message img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
