.Dialogs {
    display: grid;

    grid-template-columns: 2fr 10fr;
}

.DialogItem{
    text-align: center;
    border-right: 1px solid saddlebrown;
}
.DialogItem a {
    text-decoration: none;
    color:blue;
}
.DialogItem a.active{
    color:green;
}

.Message{
    text-align: center;
}